
/*------------------------------------*\
    RYTHME
\*------------------------------------*/

$basefont: 16px;

$gutter: 20px;




/*------------------------------------*\
    BREAKPOINTS
\*------------------------------------*/

$bp-names: "narrow",  "medium",   "wide";
$bp-vals:  "30em",    "62.35em",  "90em";




/*------------------------------------*\
    COLORS
\*------------------------------------*/

$light-color:        #fff;
$dark-color:         #000;
$hilight-color:      #bada55;
